<section id="about">
    <div class="container-fluid px-0">
        <!-- Info Blocks -->
        <div class="row align-items-stretch no-gutters">


            <% contenido.items && contenido.items.forEach(function(elem){ %>
            <div class="col-md-4 g-parent g-bg-white">
                <article class="d-flex flex-wrap text-center g-color-gray-dark-v3">
                    <div class="order-2 w-100">
                        <img class="w-100" src="http://gestor.mindit.com.ar/uploads/<%= elem.archivo   %>" alt="Image description">
                    </div>
                    <div class="order-1 w-100 u-ns-bg-v1-bottom g-z-index-1 g-py-50 g-py-100--md g-px-15 g-px-50--md">
                        <h3
                            class="text-uppercase g-line-height-1_1 g-font-weight-800 g-font-size-25 g-font-size-30--md g-mb-20">
                            <%= elem.titulo   %></h3>
                        <p class="mb-0">
                            <%- elem.htmlText   %>
                            <br></br></br>
                        </p>
                    </div>
                </article>
            </div>

            <% }); %>


        </div>
        <!-- End Info Blocks -->
    </div>
</section>