<header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999"
data-header-fix-moment="100">
<div class="u-header__section g-bg-white g-transition-0_3 g-py-6 g-py-18--md"
data-header-fix-moment-exclude="g-py-18--md"
data-header-fix-moment-classes="u-shadow-v18 g-py-13--md">
<nav class="navbar navbar-expand-lg g-py-0">
<div class="container g-pos-rel">
<!-- Logo -->
<a href="#" class="js-go-to navbar-brand u-header__logo"
   data-type="static">
  <img class="u-header__logo-img u-header__logo-img--main g-width-130" src="assets/img/logo.png" alt="Image description">
</a>
<!-- End Logo -->

<!-- Navigation -->
<div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar" data-mobile-scroll-hide="true">
  <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-5--lg ml-auto">
    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg active">
      <a href="#about" class="nav-link p-0">Psicoterapia</a>
    </li>
    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
      <a href="#quienessomos" class="nav-link p-0">Quienes Somos</a>
    </li>
    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
      <a href="#turnos" class="nav-link p-0">Turnos</a>
    </li>
    <li class="nav-item g-ml-15--lg">
      <a href="#contact" class="nav-link p-0">Contactanos</a>
    </li>
    <!-- <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
      <a href="#benefits" class="nav-link p-0">Benefits</a>
    </li>
    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
      <a href="#ourCases" class="nav-link p-0">Our cases</a>
    </li>
    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
      <a href="#team" class="nav-link p-0">Team</a>
    </li>
    
    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
      <a href="#blog" class="nav-link p-0">Blog</a>
    </li> -->
    
  </ul>
</div>
<!-- End Navigation -->

<!-- Responsive Toggle Button -->
<button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button"
        aria-label="Toggle navigation"
        aria-expanded="false"
        aria-controls="navBar"
        data-toggle="collapse"
        data-target="#navBar">
  <span class="hamburger hamburger--slider">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </span>
</button>
<!-- End Responsive Toggle Button -->
</div>
</nav>
</div>
</header>
<!-- End Header -->