<section class="g-pos-rel " id="inicio">
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_4--after" style="height: 120%; background-image: url(http://gestor.mindit.com.ar/uploads/<%= contenido.archivo %>)"></div>

     <div style="height:38rem" class="container g-color-white text-center g-z-index-1  g-bg-cover__inner g-py-100">
      <div class="mb-5 g-py-10">
        <h2 class="g-font-weight-700 g-font-size-32 g-font-size-60--md text-uppercase g-mb-30" style="color: #fff;">
           <%- contenido.titulo.replace(/\r?\n/g, '<br />') %>    
          </h2>
          <h3 class="g-font-weight-500 g-font-size-20 g-font-size-20--md text-uppercase g-mb-30" style="color: #fff;">
            <%- contenido.htmlText %>   
          </h3>
       <!-- <p class="g-font-size-24">Clean and fully responsive Template.</p>-->
      </div>
      <!--
      <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-13" href="#caracteristicas" data-target="#caracteristicas">Bienvenidos</a>
      -->
    </div>
    </div>
  </section>

  <div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=+541166301988" target="_blank">
    <img src="assets/img/wap1.png" alt="WhatsApp">
    </a>
    </div>